@font-face {
    font-family: "RailwayRegular";
    src: local("RailwayRegular"),
        url("./fonts/Railway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RailwayBold";
    src: local("RailwayBold"),
        url("./fonts/Railway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RailwayLight";
    src: local("RailwayLight"),
        url("./fonts/Railway/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: "RailwayThin";
    src: local("RailwayThin"),
        url("./fonts/Railway/Raleway-Thin.ttf") format("truetype");
}



body {
    font-family: "RailwayRegular";
}